extends layout

block content
  h1= title
   

   
  
  -var results=[];
  -var Dog={};
  -Dog.Breed="Pug";
  -Dog.Dimension="Small";
  -Dog.value=50;
  -results.push(Dog);
  -var Dog1={};
  -Dog.Breed="Pomerian";
  -Dog.Dimension="Medium";
  -Dog.value=25;
  -results.push(Dog1);
  -var Dog={};
  -Dog.Breed="Lab";
  -Dog.Dimension="Large";
  -Dog.value=100;
  -results.push(Dog2);
  

   div(class='container-fluid')
    div(class='row')
     div(class='Dog1') Dog one Details
       p Breed #{results[0].Breed}
       p Size #{results[0].Dimension}
       p Price #{results[0].value}

     div(class='Dog1') Dog Two Details
       p Breed #{results[1].Breed}
       p Size #{results[1].Dimension}
       p Price #{results[1].value}
       
     div(class='Dog1') Dog Two Details
       p Breed #{results[1].Breed}
       p Size #{results[1].Dimension}
       p Price #{results[1].value}  
     


   //-var list = results
    //each item in list
    //div(class='col-sm-2') #{item}
    

       
