extends layout

block content
  h1= title
   

   
  
  - let results=[];
    var Dog={};
    Dog.Breed="Pug";
    Dog.Dimension="Small";
    Dog.value=50;
    results.push(Dog);
    var Dog1={};
    Dog.Breed="Pomerian";
    Dog.Dimension="Medium";
    Dog.value=25;
    results.push(Dog1);
    var Dog={};
    Dog.Breed="Lab";
    Dog.Dimension="Large";
    Dog.value=100;
    results.push(Dog2);

   div(class='container-fluid') Reduce the value
   div(class='row')

   -var list = results;
    each item in list
    div(class='col-sm-2') #{item}
    

       
